<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sq.users.core.mapper.SysPermissionMapper" >
  <resultMap id="BaseResultMap" type="cn.sq.users.core.po.SysPermission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="BIT" />
    <result column="version" property="version" jdbcType="INTEGER"/>
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_user_id" property="lastUpdateUserId" jdbcType="INTEGER" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, description,version,create_user_id, create_time, last_update_user_id,last_update_time
  </sql>

  <update id="updateState" parameterType="sysPermission">
      update sys_permission set state = #{state,jdbcType=BIT} where id = #{id,jdbcType=INTEGER}
  </update>

  <!--查询角色已拥有的权限-->
  <select id="selectRoleHavePermissions" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select t1.id,t1.name,t1.state FROM sys_permission t1 inner join sys_role_permission_pk t2 on t1.id = t2.permission_id
    where t1.state = 1 and t2.role_id = #{roleId,jdbcType=INTEGER}
  </select>

  <!--查询角色未拥有的权限-->
  <select id="selectRoleHaveNoPermissions" resultMap="BaseResultMap">
    select t1.id,t1.name,t1.state FROM sys_permission t1 left join sys_role_permission_pk t2 on t1.id != t2.permission_id
    <where>
      t1.state = 1 and t2.role_id != #{roleId,jdbcType=INTEGER} or t2.role_id is null
      <if test="name!='' and name != null">
          and t1.name like concat('%', #{name,jdbcType=VARCHAR}, '%')
      </if>
    </where>
  </select>

  <update id="updateByPrimaryKeyAndVersionSelective" parameterType="sysPermission">
    update sys_permission
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=BIT},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      version = #{version,jdbcType=INTEGER} + 1
    </set>
    where id = #{id,jdbcType=INTEGER} and version = #{version,jdbcType=INTEGER}
  </update>
</mapper>