<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sq.users.core.mapper.SysUserGroupMapper">
    <resultMap id="BaseResultMap" type="cn.sq.users.core.po.SysUserGroup">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="create_user_id" property="createUserId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="last_update_user_id" property="lastUpdateUserId" jdbcType="INTEGER"/>
        <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, description, version, create_user_id, create_time, last_update_user_id, last_update_time
    </sql>

    <select id="selectPageList" parameterType="sysUserGroup" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user_group
        <where>
            <if test="name!=null and name != ''">
                AND `name` like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </select>

    <update id="updateByPrimaryKeyAndVersionSelective" parameterType="sysUserGroup">
        update sys_user_group
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateTime != null">
                last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            version = #{version,jdbcType=INTEGER} + 1
        </set>
        where id = #{id,jdbcType=INTEGER} and version = #{version,jdbcType=INTEGER}
    </update>
</mapper>